ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3b5998;
	text-align: center;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 9px;
    text-decoration: none;
}

li a:hover {
    background-color: #273E72;
}

i	{
	text-align: center;
}
p.name {
	color: #3b5998;
	padding-top: 50px;
	font-size: 2.5em;
	font-family: "Comic Sans MS";
	text-align: center;
}

hr {
  width: 80%;
}

p.icon{
	text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

p.element{
	padding-top: 50px;
	color: #3b5998;
	font-size: 2.5em;
	font-family: "Comic Sans MS";
	text-align: center;
}

p.hobby{
	color: #3b5998;
	font-family: "Comic Sans MS";
	text-align: center;
}

p.quote{
	color: #3b5998;
	text-align: center;
}